.wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  padding: 15px;
  width: 330px;
  gap:10px;
 }


.contactInput {
  border: 2px solid #000;
  background-color: #f1dec7;
  margin-top: 5px;
  padding: 8px 0px 8px 2px;
  width: 100%; 
  box-sizing: border-box; 
}

.contactInput:hover {
  border-color: teal;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactNumber {
 display: block;
  padding: 8px 10px; 
  margin-top: 15px;
  width: 100%; 
  box-sizing: border-box; 
  background-color: #f1dec7; 
  border: 2px solid #000;
}

.error {
  color: red;
  margin-top: 5px;
}

.formBtn {
  background-color:#c78e43;
   color: #fff; 
  /* width: 130px; */ 
  padding: 8px 15px;
  margin: 0 auto;
  margin-top: 15px;
}

.formBtn:hover,
.formBtn:focus,
.formBtn:active {
  background-color:chocolate;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}